name: docs

on:
  release:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build and push docs
        uses: athackst/mkdocs-simple-plugin@v3.2.0
